{% extends "account/base.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block head_title %}{% translate "Sign In" %}{% endblock %}

{% block inner %}

<h1>{% translate "Sign In" %}</h1>


{% if ACCOUNT_ALLOW_REGISTRATION %}
  <p>
    {% blocktranslate trimmed %}
      If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.
    {% endblocktranslate %}
  </p>
{% endif %}


<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% translate "Forgot Password?" %}</a>
  <button class="primaryAction btn btn-primary" type="submit">{% translate "Sign In" %}</button>
</form>

{% endblock %}
