{% extends "white2/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}Participant: {{ object.study_no }}{{ object.check_letter }}{% endblock %}

{% block inner %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      {{form.management_form}}
      {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

      {{phone_formset.management_form}}
      {% for hidden in phone_formset.hidden_fields %}{{ hidden }}{% endfor %}

      {{email_formset.management_form}}
      {% for hidden in email_formset.hidden_fields %}{{ hidden }}{% endfor %}

      {{address_formset.management_form}}
      {% for hidden in address_formset.hidden_fields %}{{ hidden }}{% endfor %}

      <h2>{{object.study_no}}{{object.check_letter}}: {{object.title}} {{object.initials}} {{object.surname}}</h2>

      <h4>Phone number(s)</h2>
      {%for phone in phone_formset %}
        {%for hidden in phone.hidden_fields%}{{hidden}}{%endfor%}
        {%crispy phone phone.helper %}
      {%endfor%}
      
      <h4>Email address(es)</h2>
      {%for email in email_formset%}
        {%for hidden in email.hidden_fields%}{{hidden}}{%endfor%}
        {%crispy email email.helper%}
      {%endfor%}
      
      <h4>Postal address(es)</h2>
      {%for address in address_formset%}
        {%for hidden in address.hidden_fields%}{{hidden}}{%endfor%} 
        {%crispy address address.helper%}
      {%endfor%}
        
    </div>
    
  </div>
  
</div>
{% endblock  %}
