{% extends "white2/base.html" %}
{% load static %}

{% block head_title %}Participant: {{ participant.study_no }}{{ participant.check_letter }}{% endblock %}

{% block inner %}
<div class="container">
  
  <div class="card-group">
  <div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Participant details</div>
    <div class="card-body">
      <h5 class="card-title">{{ participant.study_no }} {{ participant.check_letter }}</h5>
      <p class="card-text">{% for f in participant.get_non_status_fields %}
        {% if f.name != "study_no" and f.name != "check_letter" %}
          <dt>
            <dd>{{f.label}}: <span style="font-weight:bold">{{f.value}}</span></dd>
          </dt>
        {% endif %}
      {% endfor %}</p>
    </div>
    <div class="card-footer">
      <form action="" method="post">{% csrf_token %}<a class="btn btn-primary" href="{% url 'white2:participant-update' participant.slug %}" role="button">Update details/status</a></form>
    </div>
  </div>
  
  <div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Status</div>
    <div class="card-body">
      {%comment%}<h5 class="card-title">{{ participant.study_no }} {{ participant.check_letter }}</h5>{%endcomment%}
      <p class="card-text">{% for f in participant.get_status_fields %}
        <dt>
          {%if f.value == False%}
            <dd>{{f.label}}: <span style="font-weight:bold">No</span></dd>
          {%elif f.value == True%}
            <dd class="text-primary">{{f.label}}: <span style="font-weight:bold">Yes</span></dd>
          {%else%}<!--just in case there are any non boolean status fields in future-->
            <dd>{{f.label}}: <span style="font-weight:bold">{{f.value}}</span></dd>
          {%endif%}
        </dt>
      {% endfor %}</p>
    </div>
    <div class="card-footer">
      <form action="" method="post">{% csrf_token %}<a class="btn btn-primary" href="{% url 'white2:participant-update' participant.slug %}" role="button">Update details/status</a></form>
    </div>
  </div>
  
  <div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Contact details</div>
    <div class="card-body">
      {%comment%}<h5 class="card-title">{{ participant.study_no }} {{ participant.check_letter }}</h5>{%endcomment%}
      <p class="card-text">
        <h3>phone</h3>
        {% if phone == None %}No numbers saved 
        {%else%}
          {% for f in phone %}
            <dt>
              {%if f.primary == True%}
                <dd class="text-primary">{{ f.type }} <span style="font-weight:bold">{{ f.number }}</span> (main)</dd>
              {%else%}
                <dd>{{ f.type }} <span style="font-weight:bold">{{ f.number }}</span></dd>
              {%endif%}
            </dt>
          {%endfor%}
          {%comment%}<button class="btn btn-primary" href="{% url 'white2:phone-update' participant.study_no %}" role="button">Update phone</button>{%endcomment%}
        {%endif%}
        <h3>email</h3>
        {% if email == None %}No email saved 
        {%else%}
          {% for f in email %}
            <dt>
              <dd>
                {%if f.primary == True%}
                  <p class="text-primary"><span style="font-weight:bold">{{ f.email }}</span>{{ f.description }} (main)</p>
                {%else%}
                  <span style="font-weight:bold">{{ f.email }}</span> {{ f.description }}
                {%endif%}
              </dd>
            </dt>
          {%endfor%}
        {%endif%}
        <h3>postal address</h3>
        {% if address == None %}No postal address saved 
        {%else%}
        {% for f in address %}
          <dt>
            <dd>address needs formatting differently</dd>
          </dt>
        {%endfor%}
        {%endif%}
      </p>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href="{% url 'white2:participant-contact-update' participant.slug %}" role="button">Update contact details</a>
    </div>
  </div>
      
    
  
</div>
{% endblock  %}
