{% extends "white2/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}Participant: {{ object.study_no }}{{ object.check_letter }}{% endblock %}

{% block inner %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.study_no }} {{ object.check_letter }}</h2>
      {%crispy form form.helper%}
        
    </div>
  </div>
</div>
{% endblock  %}
