{% extends "white2/base.html" %}
{% load static %}

{% csrf_token %}

{% block inner %}
<div class="container">

  <h1>Participant List</h1>
  {% if participant_list %}
  <ul>
    {% for participant in participant_list %}
      <li>
        <a href="{{ participant.get_absolute_url }}">
          {{ participant.study_no }}{{ participant.check_letter }} {{ participant.surname }} ({{participant.first_name}})
        </a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no participants in the library.</p>
  {% endif %}


</div>


{% endblock inner %}
